* {
    outline: none !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #070707;
    background-color: #F6F6F6;
}

a {
    color: #828282;
    text-decoration: none;
    transition: .3s;
}

a.underline {
    text-decoration: underline;
}

a:hover {
    color: #070707;
}

img {
    display: block;
}

img.img-fluid {
    max-width: 100%;
}

h1 {
    font-size: 47px;
    line-height: 59px;
    font-weight: bold;
}

.container {
    max-width: 945px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

main {
    padding: 0px 0px 80px 0px;
}

.main-header {
    border-bottom: 2px solid #828282;
    padding: 25px 0px;
}

.main-header nav {
    display: flex;
    justify-content: space-between;
}

.main-header_item {
    font-size: 18px;
    line-height: 23px;
    font-weight: bold;
}
.main-header_item-active a {
    color: #070707;
}

.main-section_heading {
    display: flex;
}

.main-section_heading > div {
    flex-basis: 33%;
}
.main-section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
.main-section_country {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.main-section_country img {
    border: 2px solid black;
    border-radius: 50%;
}
.main-section_country span {
    display: block;
    width: 30px;
    height: 2px;
    background: black;
    margin: 5px 7px;
}